$rojo: #c00909


*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  {
    min-height: 100vh;
    background: linear-gradient(
    to right, rgb(221, 74, 72),rgb(245, 238, 220),rgb(221, 74,72));
    background-size: 400% 400%;
    animation: animate-background 10s infinite ease-in-out;
  }

  @keyframes animate-background
  {
    0% {background-position: 0 50%;
    }
    50% {background-position: 100% 50%;
    }
    100% {background-position: 0 50%;
    }
  }
}

nav
{
  width: 90%;
  height: 100px;
  margin: 20px auto;
  background-color: rgb(194, 16, 16);
  /* background-image: url("./imagen/mp.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -10px; */
  border-radius: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .logo
  {
    width: 140px;
    height: 120px;
    margin-left: 15px;
  }
}